<!DOCTYPE html>
<html>
  <head>
    <title>Search Edibles</title>
    <link href="/css/skeleton.css" rel="stylesheet" type="text/css">
    <link href="/css/bootstrap-theme.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">

  </head>

  <body>
    <div class="search-page">

      <div class="topNav">
        <ul class="navbar-default">
          <li class="listItems">
            <a href="/views/contact.html">Contact</a>
          </li>
          <li class="listItems">
            <a href="/views/saved.html">Saved</a>
          </li>
          <li class="listItems">
            <a href="/views/sign-up/signin.html">Sign In</a>
          </li>
        </ul>
      </div>

      <br></br>

      <div class="middleNav">
        <ul class="#">
          <li class="listItems">
            <a href="/views/index.html">Home</a>
          </li>
          <li class="listItems">
            <a href="/views/search.html">Strains</a>
          </li>
          <li class="listItems">
            <a href="/views/edibles.html">Edibles</a>
          </li>
          <li class="listItems">
            <a href="/views/articles.html">Articles</a>
          </li>
        </ul>
      </div>

      <div class="container">
      <h1>Search Edibles</h1>

      <br></br>
      <br></br>

      <div class="searchBar2">
        <button clas="button" id="button2">Varieties</button>
      </div>

      <br></br>

        <div class="postEdiblesData"></div>

      </div>
    </div>

    <script src="/js/jquery.js" type="text/javascript"></script>
    <script src="/js/script.js" type="text/javascript"></script>
  </body>

</html>
