<!DOCTYPE html>
<html>
<head>
    <title>Search People</title>
    <link href="/public/css/bootstrap-theme.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

  <body>

    <div class="main-container">

    <h1>Search Company</h1>

      <div class="searchBar">
        <input id="people-search">
        <button id="click-me">Search</button>
      </div>



    </div>


    <script src="/js/jquery.js" type="text/javascript"></script>
    <script src="/js/script.js" type="text/javascript"></script>

  </body>

</html>

