<!DOCTYPE html>
<html>
<head>
    <title>Search People</title>
    <link href="/css/bootstrap-theme.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
<!--  <script type="text/javascript" src="//platform.linkedin.com/in.js">
    api_key:   77t50vcnrucwlt
</script> -->
</head>

  <body>

    <div class="home-page">

    <h1>Search Company</h1>

      <ul class="navbar-default">
        <li class="listItems">Home</li>
        <li class="listItems">Search</li>
        <li class="listItems">Saved</li>
      </ul>

<!--       <div class="searchBar">
        <input id="people-search">
        <button id="click-me">Search</button>
      </div>

      <div class="postData"></div>
 -->
    </div>


    <script src="/js/jquery.js" type="text/javascript"></script>
    <script src="/js/script.js" type="text/javascript"></script>

  </body>

</html>

