<!DOCTYPE html>
<html>
  <head>
    <title>Search Strains</title>
    <link href="/css/skeleton.css" rel="stylesheet" type="text/css">
    <link href="/css/bootstrap-theme.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">

  </head>

  <body>
    <div class="search-page">

      <ul class="navbar-default">
        <li class="listItems">
          <a href="/views/contact.html">Contact</a>
        </li>
        <li class="listItems">
          <a href="/views/saved.html">Saved</a>
        </li>
        <li class="listItems">
          <a href="/views/sign-up/signin.html">Sign In</a>
        </li>
      </ul>

      <br></br>

      <ul class="#">
        <li class="listItems">
          <a href="/views/index.html">Home</a>
        </li>
        <li class="listItems">
          <a href="/views/search.html">Strains</a>
        </li>
        <li class="listItems">
          <a href="/views/edibles.html">Edibles</a>
        </li>
        <li class="listItems">
          <a href="/views/articles.html">Articles</a>
        </li>
      </ul>

    <div class="container">
      <h1>Search Strains</h1>

      <br></br>
      <br></br>

      <div class="searchBar">
<!--         <input class="submit"> -->
        <button id="button1">Strains</button>
      </div>

      <br></br>

        <div class="postStrainData"></div>

      </div>
    </div>

    <script src="/js/jquery.js" type="text/javascript"></script>
    <script src="/js/script.js" type="text/javascript"></script>
  </body>

</html>

