<!DOCTYPE html>
<html>
  <head>
    <title>Search Strains</title>
    <link href="/css/skeleton.css" rel="stylesheet" type="text/css">
    <link href="/css/bootstrap-theme.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">

  </head>

  <body class="search">
    <div class="search-page">

      <div class="topNav">
        <ul class="navbarTop">
          <li class="listItems">
            <a href="/contact">Contact</a>
          </li>
          <li class="listItems">
            <a href="/saved">Saved</a>
          </li>
<!--           <li class="listItems">
            <a href="/views/sign-up/signin.html">Sign In</a>
          </li> -->
          <li class="listItems">
            <a href="/sign-up/signin">Sign Out</a>
          </li>
        </ul>
      </div>

      <br></br>

      <div class="middleNav">
        <ul class="navbarMiddle">
          <li class="listItems">
            <a href="/index">Home</a>
          </li>
          <li class="listItems">
            <a href="/search">Strains</a>
          </li>
          <li class="listItems">
            <a href="/edibles">Edibles</a>
          </li>
          <li class="listItems">
            <a href="/dispensaries">Dispensaries</a>
          </li>
          <li class="listItems">
            <a href="/articles">Articles</a>
          </li>
        </ul>
      </div>

    <div class="container">
      <h1 id="header">Search Strains</h1>

      <br></br>
      <br></br>

      <div class="searchBar">
        <button class="searchButton" id="button1">Varieties</button>
      </div>

      <br></br>

        <div class="postStrainData"></div>

      </div>
    </div>

    <script src="/js/jquery.js" type="text/javascript"></script>
    <script src="/js/script.js" type="text/javascript"></script>
  </body>

</html>

