navbar {
  text-align: right;
}

body {
  text-align: center;
}

.about {
  text-align: left;
}


.emailSubmit {
  text-align: center;
}

.listItems {
  text-decoration: none;
  display: inline-block;
}
/*
.item {
  width:500px;
  height: 110px;
  margin-top: 10px;
  list-style-type: none;
  box-shadow: -2px 2px 1px #222222;
  background-color: #EEEEEE;
}
.image {
  float: left;
  margin: 0 10px 0 10px;
  box-shadow: -1px 1px 2px #222222;

}
.searchBar {
  margin: auto;
  width: 290px;
} */


