navbar {
  text-align: right;
}

body {
  text-align: center;
}

.about {
  text-align: left;
}

.emailSubmit {
  text-align: center;
}

.listItems {
  text-decoration: none;
  display: inline-block;
}

.appendedItems {
  list-style-type: none;
  border: solid black 1px;
  border-radius: 10px;
  padding: 30px;
/*   display: inline-block;
 */}

#mainImage {
  width: 250px;
  height: 180px;
}

#theImg {
  width: 250px;
  height: 180px;
}

.blogSection {
  text-align: right;
}
