<!doctype html>
<html>
  <head>
    <link href="/css/skeleton.css" rel="stylesheet" type="text/css">
    <link href="/css/bootstrap-theme.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">

  </head>

  <body>
    <div class="main-container">
      <div class="border-container">

        <h1>Sign Up</h1>

        <div class="col-lg-6 center-block">
          <div class="well bs-component">
            <form class="form-horizontal" action="/signup" method="post">

              <fieldset>

                <div class="form-group">
                  <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                  <div class="col-lg-10">
                    <input name="email" type="text" class="form-control" id="inputEmail" placeholder="Email">
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                  <div class="col-lg-10">
                    <input name="password" type="password" class="form-control" id="inputPassword" placeholder="Password">
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputAge" class="col-lg-2 control-label">What Is Your Age?</label>
                  <div class="col-lg-10">
                    <input name="age" type="radio" class="form-control" id="inputAge" placeholder="Age">18+<br>
                    <input name="age" type="radio" class="form-control" id="inputAge" placeholder="Age">18-<br>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-lg-10 col-lg-offset-2">
                    <a href = "/views/sign-up/signin.html">
                      <button type="submit" class="btn btn-primary" id="signUpButton" onclick="window.location.href='/sign-up/saved'">Join!</button>
                    </a>
                  </div>
                </div>

              </fieldset>

            </form>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>
